body
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	font-family: Arial, sans-serif;
}

#container
{
	display: flex;
	align-items: center;
}

textarea, button
{
	padding: 2px;
	font-size: 13px;
	background-color: #171414;
	color: white;
	border: none;
	border-radius: 3px;
	text-align: center;
	transition: 0.3s;
}

button
{
	height: 15px;
	cursor: pointer;
}

#index
{
	width: 10px;
}

#email
{
	width: 150px;
}

#index:hover
{
	background-color: red;
	color: black;
}

#email:hover
{
	background-color: yellow;
	color: black;
}

button:hover
{
	background-color: green;
	color: black;
}
