body
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}
textarea, button
{
	height: 20px;
	font-size: 15px;
	margin-right: 5px;
	background-color: #171414;
	color: white;
	border: none;
	border-radius: 5px;
	transition: 0.5s;
	text-align: center;
}
#index
{
	width: 10px;
}
#email
{
	width: 300px;
}
#copy
{
	height: 25px;
	width: 45px;
	cursor: pointer;
}
#index:hover
{
	background-color: red;
	color: #171414;
}
#email:hover
{
	background-color: lightyellow;
	color: #171414;
}
button:hover
{
	background-color: lightgreen;
	color: #171414;
}
